.mousedot {
  cursor: none;
  width: 100%;
  font-weight: 300;
  background-color: #000;
  user-select: none;
  color: #fff;

  .dot-outer {
    position: fixed;
    transition: top .1s, left .1s;
    z-index: 99;
    mix-blend-mode: difference;
    pointer-events: none;
    
    .dot-inner {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 50%;
      transition: transform .2s ease;
      transform-origin: 50% 50%;
    }

    &.is-down .dot-inner {
      transform: scale(.8);
    }
  }

  .dot-shadow {
    position: fixed;
    z-index: 99;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    transform-origin: 50% 50%;
    pointer-events: none;
  }
}