body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

// @keyframes fadeInBig {
//   0% {
//     opacity: 1;
//   }
//   70% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// .fadeInBig {

// }